body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    background: #181818;
    color: #000000;
}

.background-image {
    background-image: url('https://images.unsplash.com/photo-1675524375084-9d1ea6840bc9?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGFkaGR8ZW58MHwwfDB8fHww');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust as needed */
    position: relative;
}




